@function __px__($n) {
    @if unitless($n) {
        @return $n;
    }
    @if unit($n) != px {
        @error 'Only pixel unit. but "#{unit($n)}"!';
    }
    @return $n / 1px;
}

@function em($px, $base: 16px) {
    @return __px__($px) / __px__($base) * 1em;
}

@function rem($px, $base: 16px) {
    @return __px__($px) / __px__($base) * 1rem;
}

@function between($from, $to, $from-screen: 320px, $to-screen: 1200px) {
    $from: __px__($from);
    $to: __px__($to);
    $from-screen: __px__($from-screen);
    $to-screen: __px__($to-screen);
    $rate: ($to - $from) / ($to-screen - $from-screen);
    $fix: $rate * $from-screen - $from;
    @return calc(#{$rate * 100}vw - #{$fix}px);
}

@mixin size($w, $h: $w) {
    width: $w; height: $h
}

@mixin ellipsis($max-w) {
    display: inline-block;
    max-width: $max-w;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin clearfix {
    &::after{
        content: '';
        display: block;
        clear: both;
    }
}

@mixin stretch($top: null, $right: null, $bot: null, $left: null) {
    @if type-of($left) != number {
        @if type-of($bot) != number {
            @if type-of($right) != number {
                @if type-of($top) != number{
                    // when argument is 0
                    $top: 0;
                    $left: 0;
                    $right: 0;
                    $bottom: 0;
                } @else {
                    // when argument is 1
                    $left: $top;
                    $bottom: $top;
                    $right: $top;
                }
            } @else {
                // when argument is 2
                $bottom: $top;
                $left: $right;
            }
        } @else {
            // when argument is 3
            $left: $right;
        }
    }

    position: absolute;
    top: $top;
    right: $right;
    bottom: $bot;
    left: $left;
}

@mixin triangle($dir, $color, $w, $h: $w/2) {
    border-style: solid;
    height: 0;
    width: 0;

    @if($dir == top) {
        border-color: transparent transparent $color transparent;
        border-width: 0 ($w/2) $h ($w/2);
    }
    @if ($dir == bottom) {
        border-color: $color transparent transparent transparent;
        border-width: $h ($w/2) 0 ($w/2);
    }
    @if ($dir == right) {
        border-color: transparent transparent transparent $color;
        border-width: ($h/2) 0 ($h/2) $w;
    }
    @if ($dir == left) {
        border-color: transparent $color transparent transparent;
        border-width: ($h/2) $w ($h/2) 0;
    }
    @if ($dir == top-left) {
        border-color: $color transparent transparent transparent;
        border-width: $h $w 0 0;
    }
    @if ($dir == top-right) {
        border-color: transparent $color transparent transparent;
        border-width: 0 $w $h 0;
    }
    @if ($dir == bottom-left) {
        border-color: transparent transparent transparent $color;
        border-width: $h 0 0 $w;
    }
    @if ($dir == bottom-right) {
        border-color: transparent transparent $color transparent;
        border-width: 0 0 $h $w;
    }
}

@mixin text-hide() {
    overflow: hidden;
    text-indent: -9999px;
}

@mixin column($count, $gap, $fix: 0) {
    width: calc(#{percentage(1/$count)} - #{$gap * (1 - 1/$count)});
    &:not(:nth-child(#{$count}n)){
        margin-right: $gap + $fix;
    }
}

@mixin animate($anime-opts) {
    $name: __ANIMATE__#{unique_id()};
    animation: $name $anime-opts;
    @keyframes #{$name} {@content}
}
